# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
*.venv/
venv/
chess/  # Your virtual environment directory

# Data - Raw and Processed
data/pgn/*.pgn
data/pgn/*.pgn.zst
data/processed/*.npy

# Models
models/imitation_learning/*.pth
models/ppo/*.zip 
# Add other model paths as you create them

# IDE / Editor specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.DS_Store

# Log files and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache

# Mypy cache
.mypy_cache/
